html {
    background-color: #e4e9fd;
    background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
    min-height: 100px;
    font-family: 'helvetica neue';
}
h1{
    color: #fff;
    padding: 10px;
}
.box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px -5px rgba(red, green, blue, alpha);
}
#heading {
    background-color: #a683e3;
    text-align: center;
}
.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    text-align: center;
}
.item:last-child {
    border-bottom: 0;
}